<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <table border="1">
        <tr>
          <th>Username</th>
          <th>E-mail</th>
          <th>Action</th>
        </tr>
        <% data.forEach(el =>{ %>
            <tr>
                <td><%= el.username %></td>
                <td><%= el.email %></td>
                <td><a href="/delete/<%= el.id %>" class="btn btn-primary" >Delete</a></td>
            </tr>
            <%}) %> 
      </table>
</body>
</html>